[submodule "ReACH_II_2024/reveal.js"]
	path = ReACH_II_2024/reveal.js
	url = https://github.com/denise-lanzieri-csl/reveal.js.git
[submodule "lecture_cs_2024/reveal.js"]
	path = lecture_cs_2024/reveal.js
	url = https://github.com/denise-lanzieri-csl/reveal.js.git
[submodule "augmented_creativity/reveal.js"]
	path = augmented_creativity/reveal.js
	url = https://github.com/denise-lanzieri-csl/reveal.js.git
[submodule "colours_school/reveal.js"]
	path = colours_school/reveal.js
	url = https://github.com/denise-lanzieri-csl/reveal.js.git
[submodule "November_21st_25/reveal.js"]
	path = November_21st_25/reveal.js
	url = https://github.com/denise-lanzieri-csl/reveal.js.git
